html,
body,
:global(#root) {
  position: relative;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(.wrapper) {
  display: flex;
  min-width: 1380px;
  padding: 0 100px;
  justify-content: space-between;
}

:global(.page-loading) {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: #353c4a;
  z-index: 10;
}

:global(.container-loading) {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

:global(.ant-spin-spinning) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(a:link),
:global(a:visited) {
  outline: none !important;
  text-decoration: none !important;
}

:global(.ant-dropdown-menu-item > img) {
  width: 24px;
  height: 15px;
}
